.canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    pointer-events: none;
    overflow: hidden;
    opacity: 0.4;
    /* Aumentado para visibilidade clara */
}